html {
}
body {
  margin: 0;
}
[snap-fixed],
[snap-drawer] {
  position: fixed;
  top: 0;
  bottom: 0;
}
[snap-fixed],
[snap-static] {
  -webkit-transition: -webkit-transform 0.3s;
     -moz-transition:    -moz-transform 0.3s;
      -ms-transition:     -ms-transform 0.3s;
       -o-transition:      -o-transform 0.3s;
          transition:         transform 0.3s;
}
[snap-fixed] {
  left: 0;
  right: 0;
}
[snap-fixed=top] {
  top: 0;
  z-index: 30;
}
[snap-static] {
  z-index: 20;
  position: relative;
}
.snap-open-left [snap-drawer=left],
.snap-open-right [snap-drawer=right] {
  z-index: 10;
}
.snap-open-left [snap-fixed],
.snap-open-left [snap-static] {
  transform: translateX(265px);
}
.snap-open-right [snap-fixed],
.snap-open-right [snap-static] {
  transform: translateX(-265px);
}
.snap-toggle-left,
.snap-toggle-right {
  cursor: pointer;
}
[snap-drawer] {
  overflow-x: hidden;
  overflow-y: auto;
}
[snap-drawer=left] {
  left: 0;
  right: auto;
  width: 265px;
}
[snap-drawer=right] {
  left: auto;
  right: 0;
  width: 265px;
}
